@import "tailwindcss";
@plugin "daisyui";

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
